body{
    background-image: url(assets/laufey.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;


    /* CENTER CLOCK IN THE MIDDLE */
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}